#container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

main {
  background: linear-gradient(rgba(241, 241, 241, 0.5)),
    url("https://upload.wikimedia.org/wikipedia/commons/a/ad/BlankMap-World_gray.svg")
      no-repeat;
  background-size: cover;
  color: rgb(41, 41, 41);
  text-align: center;
}

.content-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
