.navbar {
  box-shadow: 2px 2px 8px 1px rgb(73, 73, 73);
  padding: 1px 0;
  background-color: rgb(247, 247, 224);

  & h1 {
    margin: 25px 0;
    display: inline-block;

    &:hover {
      color: rgb(25, 221, 221);
    }
  }

  .fa-solid {
    font-size: 36px;
    color: rgb(85, 85, 85);
    margin-left: 24px;
  }
}

@media all and (max-width: 480px) {
  .fa-solid {
    display: none;
  }

  .navbar h1 {
    font-size: 28px;
    text-align: center;
  }
}
