.welcome__info {
  margin-top: 200px;

  & h1 {
    font-size: 80px;
    letter-spacing: 14px;
  }

  & p {
    font-size: 26px;
    font-weight: 400;

    & a {
      color: black;

      &:hover {
        color: rgb(25, 221, 221);
      }
    }
  }
}

@media all and (max-width: 480px) {
  .welcome__info {
    margin-top: 200px;

    & h1 {
      font-size: 52px;
      letter-spacing: 8px;
    }

    & p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
